* {
  font-family: 'Muli', sans-serif;
  margin: 0;
  color: #ffffff;
  line-height: 2;
  /*background-color: #3e423f;*/
  padding: 0;
}

footer {
  background-color: #242625;
  height: 60px;
}

h1 {
  margin-top: 25px;
}

li {
  margin-left: 15px;
}

.nav ul {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav li {
  display: inline-block;
}

.nav li a {
  font-size: 19px;
  text-decoration: none;
  border-bottom: 2px solid white; 
  transition: padding-bottom 1s 0.1s, clor 0.25s 0.05s;
}

.nav li a:hover {
  color: green;
  padding-bottom: 0px;
}

.top {
  background-color: #242625;
  margin-left: 50px;
}

.about, .projects, .contact, .resume {
  padding-bottom: 50px;
  padding-left: 50px;
}

