:root {
    --main-bg-color: #7880B5;
}

.navigation {
    background-color: var(--main-bg-color);
}

.project-card {
    border-radius: .5rem;
    padding: 1rem;
    background-color: #BCC4DB;
    max-width: 30vw;
}

.project-description {
    font-size: 1rem;
}
